@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  background-color: #98d6da;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  text-align: center;
  color: white;
}

.Pagination {
  justify-content: center;
  box-shadow: 7px 3px 53px #463B9B;
  background-color: white;
  border-radius: 15px;
  padding: 15px 0px;
}

.mainTrial {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 650px) {
  .mainTrial {
    display: block;
  }
  .mainTrial .detalis h1 {
    font-size: 1.5rem !important;
    margin: 1vh 0 !important;
  }
  .mainTrial .detalis h2 {
    font-size: 1.25rem !important;
    margin: 1vh 0 !important;
  }
  .mainTrial .avatar {
    border-right: unset !important;
  }
  .mainTrial .avatar img {
    width: 100% !important;
    height: 35vh !important;
    object-fit: cover !important;
    border-radius: 15px 15px 0px 0px !important;
    margin: 0 !important;
  }
  .mainTrial .rating {
    height: 1.5rem !important;
  }
  .mainTrial .rating p {
    font-size: 0.9rem !important;
  }
}

.mainTrial .detalis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.mainTrial .detalis h1, .mainTrial .detalis h2 {
  margin: 0px;
  color: #463B9B;
  font-weight: 400;
}

.mainTrial .avatar {
  border-right: solid 1vh #98d6da;
}

.mainTrial .avatar img {
  width: 220px;
  margin: 15px;
  border-radius: 15px;
}

.mainTrial .rating {
  display: flex;
  height: 15%;
}

.mainTrial .rating p {
  align-self: center;
  color: #463B9B;
}

.mainTrial .stars, .mainTrial .bugs {
  display: flex;
  background-color: #7DA2C5;
  border-radius: 5px;
  margin-right: 1vw;
}

.mainTrial .stars p, .mainTrial .bugs p {
  padding: 5px;
  color: white;
}

.mainTrial .icon {
  align-self: center;
}

.mainTrial .star {
  color: gold;
}

.mainTrial .bug {
  color: gainsboro;
}

.MuiPagination-ul {
  justify-content: center;
}

.CircularProgress {
  position: absolute;
  top: 50vh;
  left: 49vw;
}
